
.adjustableContainer {
  display: flex;
  height: 90vh; 
  position: relative;
  padding:0 1vh 1vh 1vh;
  gap:0.5rem;
  width:100%;
}

.left { 
  padding: 0.5rem;
  border-radius: 10px; 

}

.right { 
  border-radius: 10px; 
  padding: 0.5rem;
}



.middle { 
  cursor: ew-resize; /* Set the cursor to indicate resizable */
}

.drag-info {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
}

.resizing .middle {
  background-color: #ccc; /* Change color to indicate resizing */
}


.problemNavbar
{
  display: flex;
  width: 100vw;  
  /* background-color: #F8FCFA; */
  display: flex; 
  align-items: center; 
  height: 8vh;
  padding: 3.4rem 1.4rem; 
}
.problemNavbar img
{
  height: 4.2rem;
}

.problemEditorSection
{ 
height: 100vh;
}

.middle:hover
{
  background-color  :blue !important;
}