.problemEditor
{
    background-color:#3f3f3f;
    padding: 1rem;
    display: flex;
    gap:0.5rem;
    margin: 0 1rem;
    border-radius: 10px;
    height: 92vh
}
.testcases
  {
    display: block;
  }

  .intersection
  {
    content:'';
    width:0.4rem;
    border-radius: 200px;
    background-color: #252525;
  }
  .intersection:hover
  {
    cursor: ew-resize;
  }

  .problemNavbar
{
    display: flex;
    width: 100vw;  
    /* background-color: #F8FCFA; */
    display: flex; 
    align-items: center; 
    height: 6rem;
    padding: 3.4rem 1.4rem; 
}
.problemNavbar img
{
    height: 4.2rem;
}

.problemEditorSection
{ 
  height: 100vh;
  z-index: -1; 
  position: absolute;
}