.admin-container
{
    background-color: #012f3f;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;

    padding: 0.7rem;
    margin: 0;
}

.leftMenu
{   width:28rem;
    padding: 0 1.1rem;
    background: #071e26;
    color: #e9f5f9;
    display: flex;
    flex-direction: column; 
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.leftMenu header
{
    height:5rem;
    background: #071e26;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.navLinks
{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap:1.1rem; 
     
}


.navLink-icon
{
    font-size: 2.4rem;
}

.navLink-active:hover
{
    cursor: pointer;
    background: #00bcff1a;

}
.rightMenu
{
    background: #d3eaf2;
    height: 91%  ;
    border-bottom-right-radius: 8px;
}

.active
{
    background: #12455778; 
    
}

.divider
{
    height: 2px;
    background: #0f3c4c;
    width: 86%;
    border-radius: 50px;
}
.admin-navbar
{
    border-top-right-radius: 8px;
    height: 9%;
    background: #071e26;
}
 

.admin-btn,
.admin-btn:link,
.admin-btn:visited {
  display: flex; 
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.1rem 1.8rem;
  border-radius: 9px;
  color: #d3eaf2;
  justify-content: flex-start;
  gap:1.1rem; 
  border: none;
  cursor: pointer; 
  transition: all 0.3s;
}
 
.admin-navbar-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.4rem;
    color:#d3eaf2
}