.admin-container
{
    background-color: #012f3f;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;

    padding: 0.7rem;
    margin: 0;
}

.leftMenu
{   width:28rem;
    padding: 0 1.1rem;
    background: #071e26;
    color: #e9f5f9;
    display: flex;
    flex-direction: column; 
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.leftMenu header
{
    height:5rem;
    background: #071e26;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.navLinks
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.1rem; 
     
}

.navLink
{    font-size: 1.8rem;
    width: 85%;
    display: flex;
    align-items: center;
    gap: 1.1rem;
    height: 2.4rem;
    padding: 2.4rem 2.1rem;
    border-radius: 11px;
}
.navLink-icon
{
    font-size: 2.4rem;
}

.navLink-active:hover
{
    cursor: pointer;
    background: #00bcff1a;

}
.rightMenu
{
    background: #d3eaf2;
    height: 91%  ;
    border-bottom-right-radius: 8px;
}

.navLink-active
{
    background: #12455778; 
    
}

.divider
{
    height: 2px;
    background: #0f3c4c;
    width: 86%;
    border-radius: 50px;
}
.admin-navbar
{
    border-top-right-radius: 8px;
    height: 9%;
    background: #071e26;
}