@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');
.editor-top1{
    display: flex;
    align-items: center;
    gap:0.6rem;
    background-color: rgb(56, 56, 56);
    padding:0.4rem 1rem;
    width: 100%;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.editor-top1 label{
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
}
.code-icon
{
    color:#09ff00;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 2.4rem;
    stroke-width: 2.4;
    /* transform: scale(1.8);  */
}
.editor-continer
{
    width: 80rem;
}