.header
{
    display: flex;
    width: 100vw; 
    justify-content: space-between; 
    background-color: #F8FCFA;
    display: flex; 
    align-items: center; 
    height: 9.6rem;
    padding: 0 4.8rem;
    margin-top: 2rem;
}
.header img
{
    height: 6.2rem;
}

.nav-links
{
    display: flex;
    font-size: 1.8rem;
    gap:1.8rem
}

.nav-link
{
    color:#F8FCFA;
    text-decoration: none;
    background-color: #0f172a;
    padding: 1.1rem 1.1rem;
    border-radius: 10px;
    width:12rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover
{
    cursor: pointer;
    background-color: rgb(26, 42, 80);
    color:white;

}

.btn-login
{
    background-color: inherit;
    color:#0f172a;
}