

.getStarted-container
{
height:100vh;
padding:0 2.2rem;
  max-width: 1400px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.getStarted-header
{
  height:10.1rem;
  display:flex;
  align-items: center; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; 
}

.getStarted-content
{
  padding:5.6rem 0 0;
  width:50%;
}

.getStarted-content h1
{
  font-size:3.2rem;
  font-weight:500;
}
.getStarted-content p
{
  font-size:1.6rem;
  padding:1.1rem 0;
  color:#727272;
}
.form-registration
{display:grid; ; grid-template-columns:repeat(2,1fr);
   gap:1.1rem
     
}
.form-registration-input
{ 
display:flex;
flex-direction:column;
  gap:0.4rem;
}
 
.form-registration-input input[type="file"]::file-selector-button {
  display: none; 
}
.form-registration-input input[type="file"] {
  cursor: pointer;
}
.form-registration-input label
{
  font-weight:500;
  font-size: 1.4rem;
}
.registration-input
{
  background-color:inherit;
  height:3.2rem;
  padding:0.5rem 1.1rem;
  font-size:1.6rem;
  outline:none;
  border-radius:5px;
  border:1px solid grey;
}
.registration-btn
{
  display:flex;
  background:#0f172a;
  color:white;
  align-items: center;
  justify-content: center;
  align-self:end;
  padding:1.6rem;
  border-radius:5px;
  font-size:1.8rem;
  grid-column:1/-1;
  margin:2.2rem 0;
}

.registration-btn:hover,.back-btn:hover{
  cursor: pointer;
}
.main
{
    display: flex; 
    justify-content: space-around; align-items:center;
 
}

 .getStarted-container:before
{
    content: '';
    position: absolute;
    right: -4.4rem;
    top: 0;
    bottom: 0;
    width: 47%;
    height:100%;
    background-color: #0f172a;
    margin-left:2.2rem;
}


.getStarted-container:after
{
    content: '';
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 34%;
    background-color: #0f172a;
    margin-left: 2.2rem;
    z-index: 999; /* Ensure it appears above other elements */
}
 
.registration-input-select
{
  background-color:inherit;
  height:3.2rem; 
  font-size:1.6rem;
  outline:none;
  border-radius:5px; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}