.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #040f13;
}

.login-left {
  width: 20%;
  background-color: #e9f5f9;
  min-width: 38rem;
  padding: 1.2rem 2rem;
}
.login-right {
  width: 80%;
  position: relative;
}

.header-image {
  height: 5.8rem;
}

.header-image img {
  height: 100%;
}
.login-heading {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 400;
  padding: 6.2rem 0 0 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;

  padding: 1.1rem 0;
}
.form-login-input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
}
.login-input {
  background-color: inherit;
  height: 3.2rem;
  padding: 0.5rem 1.1rem;
  font-size: 1.6rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}
.login-btn {
  height: 5.4rem;
  display: flex;
  background: #0f172a;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.8rem;
  margin: 2.2rem 0 0 0;
}
.login-btn:hover {
  cursor: pointer;
  background-color: #131e36;
}
.other-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1rem;
  font-weight: 500;
}

.otherOption-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #040f13;
}

.otherOption-link:hover {
  cursor: pointer;
  color: #0d2c38;
}

.login-cartoon-container {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.cartoon-img {
  height: 35rem;
  animation: floatAnimation 2s infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.login-right {
  color: #e9f5f9;
  padding: 1.2rem 2.2rem;
}
.login-right p {
  font-weight: 500;
  font-size: 2.8rem;
}
.login-right span {
  font-size: 1.8rem;
}
