@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;800;900&display=swap');
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden !important; 
  touch-action: pan-y;
  font-family: 'Rubik', sans-serif;
  background-color: #F8FCFA;
  padding: 0;
  margin: 0;


}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(195, 195, 195);
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #484848; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #022c51; 
}