 
@media(max-width:87rem)
{ .payment-main { 
    
  font-size: 1.2rem !important;
}
    .main image
    {
        width:24rem;
    }
}
@media(max-width:82rem)
{
    .stats-grid { 
        grid-template-columns: repeat(2,1fr) !important;
    }
    .decline-job{
        grid-column: 1/-1;
    }
    .section-hero
    { 
        font-size: 5%;
    }
    .heading-primary {
        font-size: 4.2rem; 
    }
    .hero-description {
        font-size: 1.8rem; 
    }
    .main
    {
        flex-direction: column;
    }
    .getStarted-aside
    {
      display: none;
     
    }
    .getStarted-container:before {
        
     
        top:auto !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 20% !important; 
    }
    .getStarted-container:after { 
        right: 0 !important;
        top:auto !important;
        bottom:0 !important;
        height: 25% !important; 
        width:100% !important;
    }
}

@media(max-width:70rem)
{
    html
    {
        font-size: 50% !important;
    }
    .stats-grid { 
        grid-template-columns: repeat(1,1fr) !important;
    }
   
    .hero
    {
        gap:3.4rem;
    }
    
    .delivered-meals
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .btn
    { 
        font-size: 1.4rem !important;
        width: fit-content !important;
        white-space: nowrap;
          
    }
    .hero-links
    {
        gap:1.1rem;
    }

    .payment-heading {
      flex-direction: column-reverse;
    }
  .tick,.payment-heading-content 
  {
    align-self: flex-start;
  }

    
}
 

 @media(max-width:60rem){
    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      .payment-details
      {
       
        margin:3.2rem 0 0 !important; 
      }
      .premium
      { 
        grid-column: 1/-1; 
      }
      .nav-responsive
      {
        display: block ;z-index:100000;
      }

      .nav-links
      {
        /* position: absolute !important ; */
        position: fixed !important;
        top:0;
        left:0;
        height:100vh;
        width:100vw;
        z-index: 999;
        background-color: rgba(0, 20, 63, 0.452);
        /* filter: blur(2px);  */
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        display: none;
        overflow: hidden;
      }
      .btn-login
      {
        background-color: white;
      }
      .navOpen
            {
        display: flex;
        /* transform: translateX(0) !important; */
            }
             
            .nav-icon
            {z-index: 100000;}
 } 
 @media(max-width:57rem){
  .payment-main
  {
    justify-items: center;
    grid-template-columns: 1fr !important;  
  }
  .payment-heading-content 
  {
    align-items: center;
  }
  .payment-content-container 
  {
    align-items: center;
  }
  .tick,.payment-heading-content 
  {
    align-self:  center;
  }
 }
 @media(max-width:40rem){
    .login-left
    {
        width:80% !important
    }
    .login-right
    {
        display: none !important;
    }
    .grid--3-cols {
        grid-template-columns: repeat(1, 1fr) !important;
      }
      .form-registration
      { 
        grid-template-columns:repeat(1,1fr) !important; 
      }
      .getStarted-content { 
        width: 84%;
    }
      .premium
      { 
        grid-column: 1/-1; 
      }
      .getStarted-aside
      {
        /* display: none; */
        width:54rem;
      }

      .getStarted-container:before
      {
          content: ''; display: none;
      }
      
      
      .getStarted-container:after
      {
          content: ''; display: none;
      }
      .main
      {
        justify-content: flex-start
      }
 } 

 @media(max-width:34rem)
 {
    html
    {
        font-size: 40% !important;
    }
    .hero{
        grid-template-columns: 1fr !important;
    }
    .hero-img {
        width: 80%;
    }
    .hero-img-box
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-hero
    {
        padding-bottom: 1.8rem;
    }

    .hero-links
    {
        margin-bottom: 3.6rem;
    }
    .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .step-img-box:nth-child(2) {

    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5
  }
  .planPricing
  {
    height:48rem !important; 
  }
 }

 